<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default=""/>

<!-- sample program node -->
	<!--
    <node pkg="burger_war" type="randomRun.py" name="randomRun" output="screen"/>
-->

    <!-- You can change control program  -->

<!-- imai -->
  <include file="$(find twist_mux)/launch/twist_mux.launch" />

  <node pkg="handan" type="handan" name="handan" output="screen"/>

  <node pkg="ou" type="ou" name="ou" output="screen"/>

<!-- miya -->
  <node pkg="enemy_position" type="enemy_position" name="enemy_position" output="screen"/>

<!-- shimada -->
  <include file="$(find run_three_points)/launch/run_three_points.launch" />

<!-- tsugawa -->
  <include file="$(find enemy_search)/launch/enemy_search.launch" />

    <!-- End of your space  -->
</launch>

